<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= yield(:page_title) %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <nav class="top-bar" data-topbar >
    <ul class="title-area"> 
      <li class="name">
        <h1><a href="#">Emco Masonry Inc <span id="est">Est. 1974</span></a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active"><%= link_to 'Home', page_path('home') %></li>
        <li><%= link_to 'What We Do', page_path('about') %></li>
        <li><%= link_to 'Projects', page_path('projects') %></li>
        <li><%= link_to 'Employment Opportunities', page_path('employment') %></li>
        <li><%= link_to 'Contact Us', page_path('contact') %></li>
      </ul>
    </section>
  </nav>
  
  <div class="row">
  <div class="medium-12 columns">
  </div>
  </div>  
    <%= yield %>
  


    <%= javascript_include_tag "application" %>
  </body>
</html>